<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="uk.bl.iiifimageservice" />
    
    <context:property-placeholder location="classpath:config.properties, file:${user.home}/config.properties" ignore-resource-not-found="true"/>

    <alias name="${image.location.strategy}" alias="imageLocationStrategyName"/>
    
	<mvc:annotation-driven/>

    <bean id="xmlMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>uk.bl.iiifimageservice.domain.ImageError</value>
            </list>
        </property>
	    <property name="marshallerProperties">
	        <map>
	            <entry>
	                <key>
	                    <util:constant static-field="javax.xml.bind.Marshaller.JAXB_FORMATTED_OUTPUT" />
	               </key>
	              <value type="java.lang.Boolean">true</value>
	            </entry>
	        </map>
	    </property>        
    </bean>

	<bean class="org.springframework.context.support.ResourceBundleMessageSource"
		id="messageSource">
		<property name="basename" value="messages" />
	</bean>    
    
</beans>